<html>
  <head>
    <link rel="stylesheet" type="text/css" href='/css/bootstrap.css'>
    <link rel="stylesheet" type="text/css" href='/css/flat-ui.css'>
  	<link rel="stylesheet" type="text/css" href='/css/style.css'>
  </head>
  <body>
    <header class="header-strip">
      <h1>
        <a href="/">collaborator.co.uk</a>
      </h1>
      <nav>
        <% if current_user %>
          <a class='btn btn-warning groups-btn' href="/groups">Groups</a>
          <a class='btn btn-danger logout-btn' href="/logout">Logout</a>
        <% end %>
      </nav>
    </header>

  	<section class="main">
	    <p><%= yield %></p>
    </section>

    <footer class="footer-strip">
    <footer/>
  </body>
</html>