<html>
  <head>
    <link rel="stylesheet" type="text/css" href='/css/bootstrap.css'>
    <link rel="stylesheet" type="text/css" href='/css/flat-ui.css'>
  	<link rel="stylesheet" type="text/css" href='/css/style.css'>
    <script type="text/javascript" src="/js/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>
    <script type="text/javascript" src="/js/backbone.js"></script>
    <script type="text/javascript" src="/js/underscore.js"></script>
  </head>
  <body>
    <header class="header-strip">

      <h1>
        <a href="/">collaborator.co.uk</a>
      </h1>
      <nav>
        <% if current_user %>
          <a class='btn btn-warning groups-btn' href="/groups">Groups</a>
          <a class='btn btn-danger logout-btn' href="/logout">Logout</a>
        <% end %>
      </nav>
    </header>

  	<section class="main">
	    <p><%= yield %></p>
	  </section>


 </body>
</html>
