  <html>
  <head>
    <link rel="stylesheet" type="text/css" href='/css/bootstrap.css'>
    <script type="text/javascript" src='/js/jquery-1.9.1.min.js'></script>
    <script type="text/javascript" src='/js/bootstrap.js'></script>

  </head>
  <body>
    <header class="span5 offset3">
      <h1><a href="/">collaborator.co.uk</a></h1>
      <nav>
        <% if admin_user %>
          <a class='btn btn-success groups-btn' href="/admin/profiles">Profile</a>
        <% end %>
        <% if current_user %> 
          <a class='btn btn-warning groups-btn' href="/groups">Groups</a>
              <div class="btn-group">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                  <span>Welcome: </span><span style:"color: green"><%=current_user.username%></span>
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="profiles/<%=current_user.username %>"><i class="icon-cog"></i>Your profile</a></li>
                  <li class="divider"></li>
                  <li><a href="/logout"><i class="icon-off"></i>Logout</a></li>
                </ul>
              </div>
        <% end %>
      </nav>
    </header>

    <div class="container" style="background-color: #ADC8E0">
      <div class="span6 offset3">
    	    <p><%= yield %></p>
    	</div>
    </div>

  <footer class="container-fluid" style="background-color: #ADC8E0">
  </footer>
  </body>
</html>
