<section class="row">
  <article class="span6 offset3 group-list">
    <header>
      <h2>Your groups</h2>
    </header>
    <ul class="">
      <% groups.each do |group| %>
        <li>
          <a href="/groups/<%= group.url %>"><%= group.group_name %></a>
          <!-- form method="POST" action="/my_groups">
            <input type="text" name='group_id' value='<%=group._id%>' />
            <button class="like-button">Like</button>
          </form-->
        </li>
      <% end %>
    </ul>
    <footer>
      <a class="btn btn-primary" href="/group/create">Add another group</a>
    </footer>
  </article>
</section>