<h2>Your groups</h2>
  <ul>
    <% groups.each do |group| %>
	      <form method='POST' action='/groups/<%= group.url%>/delete_group'>
          <li>
            <h3>
            <a href="/groups/<%= group.url %>"><%= group.group_name %></a>
               <button style="float: right" class="btn btn-danger">Delete</button>
            </h3>
          </li>
          <input type='hidden' name='group_id' value='<%=group._id%>'>
	      </form>
    <% end %>
  </ul>
  <a class="btn btn-primary" href="/group/create">Add another group</a>