<script>
  $(document).ready(function(){
    $('.carousel').carousel({
      interval: 6000
    });
  });
</script>

<div id="myCarousel" class="carousel slide"
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item">
      <img src="/images/colab1.png" alt="" />
    </div>
    <div class="item">
      <img src="/images/colab2.png" alt="" />
    </div>
    <div class="item">
     <img src="/images/colab3.png" alt="" />
    </div>
  </div>
  <!-- Carousel nav -->
  <!--<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a> -->
</div>

<% unless current_user %> 
  <h2>Please Login</h2>
  <form method='POST' action='/login' id="login-form">
    <input type='text' name= 'username' placeholder= 'username' />
    <input type='password' name= 'password' placeholder= 'password' id="login-password"/>
    <button class="btn btn-success btn-block">Login</button>
  </form>

  <form method='GET' action='/profiles/create'>
    <button class="btn btn-primary btn-block"> or Create an account</button>
  </form>
<%end%>

<% if current_user %> 
  <h2>You are currently logged in as:</h2>
  <h2 style="color: green"><%= current_user.username %></h2>
<%end%>
